
@{
    ViewData["Title"] = "CheckYourInBox";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<h1>CheckYourInBox</h1>

<div class="main-agileinfo">
        <div class="agileits-top">
            <div class="body">
                <div>
                    Password reset link has sent to your email. Plese check your inbox :) 
                </div>
                <div>
                    <a href="https://mail.google.com/mail/u/0/#inbox">Your inbox</a>
                </div>
            </div>

        </div>
</div>